@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);

*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
} /*! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
:after,
:before {
    --tw-content: "";
}
:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family:
        Open Sans,
        ui-sans-serif,
        system-ui,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
}
body {
    line-height: inherit;
    margin: 0;
}
hr {
    border-top-width: 1px;
    color: inherit;
    height: 0;
}
abbr:where([title]) {
    text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
a {
    color: inherit;
    text-decoration: inherit;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
pre,
samp {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        Liberation Mono,
        Courier New,
        monospace;
    font-feature-settings: normal;
    font-size: 1em;
    font-variation-settings: normal;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
button,
select {
    text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
:-moz-focusring {
    outline: auto;
}
:-moz-ui-invalid {
    box-shadow: none;
}
progress {
    vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
summary {
    display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}
fieldset {
    margin: 0;
}
fieldset,
legend {
    padding: 0;
}
menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
dialog {
    padding: 0;
}
textarea {
    resize: vertical;
}
input::placeholder,
textarea::placeholder {
    color: #9ca3af;
    opacity: 1;
}
[role="button"],
button {
    cursor: pointer;
}
:disabled {
    cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}
img,
video {
    height: auto;
    max-width: 100%;
}
[hidden]:where(:not([hidden="until-found"])) {
    display: none;
}
#webcrumbs .mx-auto {
    margin-left: auto;
    margin-right: auto;
}
#webcrumbs .mb-2 {
    margin-bottom: 8px;
}
#webcrumbs .mb-3 {
    margin-bottom: 12px;
}
#webcrumbs .mb-4 {
    margin-bottom: 16px;
}
#webcrumbs .mb-6 {
    margin-bottom: 24px;
}
#webcrumbs .mt-6 {
    margin-top: 24px;
}
#webcrumbs .flex {
    display: flex;
}
#webcrumbs .h-16 {
    height: 64px;
}
#webcrumbs .h-full {
    height: 100%;
}
#webcrumbs .w-16 {
    width: 64px;
}
#webcrumbs .w-full {
    width: 100%;
}
#webcrumbs .max-w-5xl {
    max-width: 64rem;
}
#webcrumbs .flex-shrink-0 {
    flex-shrink: 0;
}
#webcrumbs .flex-row {
    flex-direction: row;
}
#webcrumbs .flex-wrap {
    flex-wrap: wrap;
}
#webcrumbs .items-center {
    align-items: center;
}
#webcrumbs .items-baseline {
    align-items: baseline;
}
#webcrumbs .justify-between {
    justify-content: space-between;
}
#webcrumbs .gap-2 {
    gap: 8px;
}
#webcrumbs .gap-3 {
    gap: 12px;
}
#webcrumbs .gap-4 {
    gap: 16px;
}
#webcrumbs .gap-x-4 {
    column-gap: 16px;
}
#webcrumbs .gap-y-2 {
    row-gap: 8px;
}
#webcrumbs :is(.space-y-4 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(16px * var(--tw-space-y-reverse));
    margin-top: calc(16px * (1 - var(--tw-space-y-reverse)));
}
#webcrumbs .overflow-hidden {
    overflow: hidden;
}
#webcrumbs .rounded-lg {
    border-radius: 24px;
}
#webcrumbs .rounded-md {
    border-radius: 18px;
}
#webcrumbs .border {
    border-width: 1px;
}
#webcrumbs .border-t {
    border-top-width: 1px;
}
#webcrumbs .border-dashed {
    border-style: dashed;
}
#webcrumbs .border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}
#webcrumbs .border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}
#webcrumbs .bg-primary-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(99 27 255 / var(--tw-bg-opacity, 1));
}
#webcrumbs .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
#webcrumbs .object-cover {
    object-fit: cover;
}
#webcrumbs .p-4 {
    padding: 16px;
}
#webcrumbs .p-6 {
    padding: 24px;
}
#webcrumbs .px-3 {
    padding-left: 12px;
    padding-right: 12px;
}
#webcrumbs .px-4 {
    padding-left: 16px;
    padding-right: 16px;
}
#webcrumbs .py-2 {
    padding-bottom: 8px;
    padding-top: 8px;
}
#webcrumbs .pt-3 {
    padding-top: 12px;
}
#webcrumbs .text-2xl {
    font-size: 24px;
    line-height: 31.200000000000003px;
}
#webcrumbs .text-lg {
    font-size: 18px;
    line-height: 27px;
}
#webcrumbs .text-sm {
    font-size: 14px;
    line-height: 21px;
}
#webcrumbs .font-bold {
    font-weight: 700;
}
#webcrumbs .font-medium {
    font-weight: 500;
}
#webcrumbs .font-semibold {
    font-weight: 600;
}
#webcrumbs .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-primary-600 {
    --tw-text-opacity: 1;
    color: rgb(99 27 255 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
#webcrumbs .shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#webcrumbs .transition-all {
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#webcrumbs .transition-colors {
    transition-duration: 0.15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#webcrumbs .transition-shadow {
    transition-duration: 0.15s;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#webcrumbs .transition-transform {
    transition-duration: 0.15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#webcrumbs .duration-200 {
    transition-duration: 0.2s;
}
#webcrumbs {
    font-family: Open Sans !important;
    font-size: 16px !important;
}
#webcrumbs :is(.bg-primary-600) {
    color: hsla(0, 0%, 100%, 0.9) !important;
}
#webcrumbs .hover\:bg-gray-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}
#webcrumbs .hover\:bg-primary-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(97 27 248 / var(--tw-bg-opacity, 1));
}
#webcrumbs .hover\:shadow-md:hover {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#webcrumbs .focus\:border-primary-500:focus {
    --tw-border-opacity: 1;
    border-color: rgb(115 65 255 / var(--tw-border-opacity, 1));
}
#webcrumbs .focus\:ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
#webcrumbs .focus\:ring-primary-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(115 65 255 / var(--tw-ring-opacity, 1));
}
#webcrumbs :is(.group:hover .group-hover\:scale-105) {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
